@charset "UTF-8";
@import url(reset.css);

body {
    background-color: #eee;
}

.wrap {}

.header {
    background-color: gray;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header .website_title {}

.header .search-form {
    width: 250px;
    margin-left: auto;
}

.header .search-form input[type="search"] {
    border-radius: 5px;
    border: none;
    /* border: 0; */
    outline: none;
}

.header .search-form input[type="submit"] {
    border-radius: 5px;
    border: none;
    outline: none;
    width: 60px;
    background-color: gold;
}

.wrap .menu {
    display: flex;
}

.wrap .menu .menu-item {}

.wrap .menu .menu-item .menu-link {}