@charset "UTF-8";
@import url(reset.css);

body {
    background-color: #eee;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.header {
    background-color: gray;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header .website_title {}

.header .search-form {
    width: 250px;
    margin-left: auto;
}

.header .search-form input[type="search"] {
    border-radius: 5px;
    border: none;
    /* border: 0; */
    outline: none;
}

.header .search-form input[type="submit"] {
    border-radius: 5px;
    border: none;
    outline: none;
    width: 60px;
    background-color: gold;
}

/* menu */
.menu {
    display: flex;
    width: 100%;
}

.menu .menu-item {
    width: 25%;
    background-color: gold;
    text-align: center;
    transition: 0.3s;
}

.menu .menu-item:hover {
    width: 35%;
    background-color: skyblue;
}

.menu .menu-item .menu-link {
    display: block;
    font-size: 20px;
    padding: 15px 0;
    font-weight: bold;
}

/* primary */
.primary {}

.primary .card-list {}

.primary .card-list .card-item {}

.primary .card-list .card-item .card-image {}

.primary .card-list .card-item .card-desc {}