@import url(basic.css);

.container {
    display: flex;
}

.item {
    /* 0-->FALSE, 0이외의 숫자-->TRUE */
    flex-grow: 1;
    flex-shrink: 1;
    /* 기본값 shrink: 1 */
    flex-basis: 150px;
}

.item:nth-child(1) {
    /* width: 150px;
    flex-shrink: 0; */ /* 정해진넓이(150)이하로는 줄어들지 않는다. */
    flex-shrink: 2;
}