@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 150px;
    background-color: red;
}

aside {
    /* 형에게 float이 있으면 동생도 float이 있어야한다. */
    /* 동생이 float을 가져도 형은 반드시 float이 필요한건 아니다.(상황에 따라 다르다) */
    float: left;
    width: 400px;
    height: 700px;
    background-color: orange;
}

section {
    float: left;
    width: 800px;
    height: 700px;
    background-color: yellow;
}

footer {
    clear: both;
    width: 100%;
    height: 150px;
    background-color: green;
}

@media(max-width:1200px) {
    #wrap {
        width: 95%;
    }

    aside {
        width: 30%;
    }

    section {
        width: 70%;
    }
}

/* max-width:1200px */

@media(max-width:768px) {
    #wrap {
        width: 100%;
    }

    aside {
        width: 100%;
        height: 200px;
        float: none;
    }

    section {
        width: 100%;
        height: 300px;
        float: none;
    }
}