@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

#전체 {
    background-color: coral;
    padding: 20px;
    margin: 0 auto;
    width: 800px;
}

#전체 .첫째자식 {
    background-color: chartreuse;
    padding: 20px;
}

#전체 .첫째자식 .wrap {
    position: relative;
}

#전체 .첫째자식 .첫째손자 {
    background-color: darkmagenta;
    height: 200px;
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
}

#전체 .첫째자식 .첫손2 {
    background-color: green;
    opacity: 0;
    /* 투명도 */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: 0.3s;
    background-image: url(../img/img2.jpg);
    background-size: cover;
    background-position: center;
}

#전체 .첫째자식:hover .첫손2 {
    opacity: 1;
}

#전체 .둘째자식 {
    background-color: lawngreen;
    margin-top: 30px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

#전체 .둘째자식 .둘째손자 {
    background-color: indigo;
    /* height: 100%; */
    /* 기본값 */
    /* width: 100%; */
    /* 자식은 부모의 padding에 침범하지 못한다. */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 100px;
}

#전체 .둘째자식 {
    margin-bottom: 50px;
    /* margin은 위아래로는 큰값이들어가고 양쪽은 합쳐져서 들어간다 */
}

#전체 .셋째자식 {
    background-color: #46c2cb;

    margin-top: 30px;
}

#전체 .셋째자식>div {
    background-color: #FFBF00;
    width: 40%;
    margin: 0 5%;
    float: left;
}

/* ol,ul의 자식요소는 li만 가능하다. */
#전체 .셋째자식>div ol {
    list-style-type: none;
}

#전체 .셋째자식>div ul {
    list-style-type: circle;
}

#전체 .셋째자식>div li {
    border: 1px solid gray;
}

#전체 .넷째자식 {
    background-color: #FFBF00;
    margin-top: 30px;
    padding: 20px;
}

#전체 .넷째자식 .넷째손자 {
    background-color: aquamarine;
}

#전체 .넷째자식 .넷째손자 dt {
    background-color: cadetblue;
}

#전체 .넷째자식 .넷째손자 dd {
    background-color: darkkhaki;
}