@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


div {
    height: 100vh;
}

.one {
    background-color: blue;
    transform: scale(0.5);
    transition: 1s;
}

.one.animate__motion {
    background-color: gray;
    transform: scale(1);
}

.two {
    background-color: pink;
    transform: scale(0.5);
    transition: 1s;
}

.two.animate__motion {
    background-color: green;
    transform: scale(1);
}