@import url(basic.css);

.container {
    height: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.item {
    width: 200px;
    height: 200px;
}