@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

body {
    height: 100vh;
    background: rgba(0, 0, 0, 0.8) url(img/Cover_anni40-50_1920x800.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: hue;
}

/* header */
header {
    border-bottom: 1px solid #ddd;
    height: 100px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .container .logo {
    width: 150px;
}

header .container .logo a {}

header .container .logo a img {
    width: 100%;
}

header .container .menu_wrap {}

header .container .menu_wrap ul {
    display: flex;
    width: 800px;
    justify-content: space-between;
}

header .container .menu_wrap ul li {}

header .container .menu_wrap ul li a {}

header .container .search {}

header .container .search a {}

header .container .search a i {}







.wrap .main .container {
    color: #fff;
}

.main {
    margin-top: 5%;
}

.main .slick-slide {
    display: flex;
    position: relative;
}

.left_area {
    width: 50%;
    height: 80vh;
}

.right_area {
    width: 50%;
    height: 80vh;
}


.left_area .vespa_img {
    width: 120%;
    padding-top: 160px;
    opacity: 0;
}

.main .slick-active .left_area .vespa_img {
    animation: fadeInR 0.5s 0.5s both;
}

.left_area .vespa_img img {
    width: 100%;
}

.left_area .vespa_tit {
    position: absolute;
    left: 0;
    top: 120px;
    z-index: -1;
}

.left_area .vespa_tit h2 {
    font-size: 135px;
    color: rgba(255, 255, 255, 0.8);
}

.left_area .vespa_tit p {
    font-size: 19px;
    color: #fff;
    letter-spacing: 19px;
}

.main .slick-active .vespa_tit {
    animation: fadeInT 0.5s 0.9s both;
}


.right_area {
    color: #fff;
    padding-top: 25%;
    padding-left: 10%;
    box-sizing: border-box;
}

.right_area .middle_txt {}

.right_area .middle_txt ul {
    padding-left: 5%;
    padding-bottom: 10px;
}

.main .slick-active .middle_txt ul li {
    animation: fadeInL 0.5s 1s both;
}

.right_area .middle_txt ul li {
    position: relative;
    font-size: 20px;
    padding-left: 12px;

}

.right_area .middle_txt ul li:last-child {
    animation-delay: 1.2s;
}

.right_area .middle_txt ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
}

.right_area .bottom_area {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 2%;
}

.right_area .bottom_area .custom_btn {
    border: 2px solid #fff;
    box-sizing: border-box;
}

.right_area .bottom_area .custom_btn a {
    display: block;
    padding: 10px 25px;
}

.main .slick-active .right_area .bottom_area .custom_btn {
    animation: fadeInT 0.5s 1.4s both;
}

.right_area .bottom_area .down_btn {
    background-color: #38a385;
}

.right_area .bottom_area .down_btn a {
    display: block;
    padding: 10px 30px;
}

.main .slick-active .right_area .bottom_area .down_btn {
    animation: fadeInL 0.5s 1.6s both;
}

.right_area .bottom_area .price span {
    font-size: 24px;
    line-height: 42px;
}

.main .slick-active .right_area .bottom_area .price {
    animation: fadeInR 0.5s 1.8s both;
}

.main .slick-arrow {
    position: absolute;
    left: -2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    visibility: hidden;
}

.main .slick-prev::after {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 50px;
    color: #fff;
}

.main .slick-next {
    left: auto;
    right: -2%;
}

.main .slick-next::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
    font-size: 50px;
    color: #fff;
}

@keyframes fadeInR {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeInL {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeInT {
    0% {
        transform: translateY(-150%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}